.container {
    display: flex;
    border-color: #81826ecc;
    border-width: 1px;
    border-style: solid;
    background-color: #5c5a4bcc;
    position: relative;

    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0.6rem 1.2ch;
    font-family: inherit;
    font-weight: 600;
    transition: color 0.1s;
}

.container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background-color: #e9e9c9;
    transition: width 0.1s;
}

.container:hover {
    color: #252619;

    &:before {
        width: 100%;
    }
}

.label {
    font-size: 1.3rem;
    z-index: 5;
    flex-grow: 1;
}

.input {
    z-index: 5;
    width: 1.6rem;
    height: 1.6rem;

    background-color: #101008;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #81826ecc;
    appearance: none;
}

.input:checked {
    background-image: url('/icons/check.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-color: #e9e9c9;
}
