.input {
    z-index: 5;
    width: 1.6rem;
    height: 1.6rem;

    background-color: #101008;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #81826ecc;
    appearance: none;
}

.input:checked {
    background-image: url('/icons/check.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-color: #e9e9c9;
}
