/* box-sizing reset */
body {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
/* box-sizing reset end */

:root {
    font-family: 'Open Sans', system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #bdbda0;
    background-color: #8a8879;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;

    background-attachment: fixed;
    background-image: url('/background/fox_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: normal;
}

#root {
    width: 100ch;
}

.logo {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: #00000088 1px 0 10px;
}

.delta {
    color: #009600;
}

.nowrap {
    white-space: nowrap;
}

.component {
    display: flex;
    border-color: #81826ecc;
    border-width: 1px;
    border-style: solid;
    background-color: #5c5a4bcc;
    position: relative;

    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0.6rem 1.2ch;
    font-family: inherit;
    font-weight: 600;
    transition: color 0.2s;

    flex-direction: column;

    &.disabled {
        background-color: #2a2922cc;
        border-color: #56564dcc;
        color: #5e5e4f;
    }

    .icon {
        z-index: 5;
    }
}

.component:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background-color: #e9e9c9;
    transition: width 0.2s ease-in-out;
}

.component.interactive {
    flex-direction: row;
}

.component.interactive:hover:not(.disabled) {
    color: #252619;

    &:before {
        width: 100%;
    }
}

.component.interactive > span {
    font-size: 1.3rem;
    z-index: 5;
    flex-grow: 1;
    user-select: none;
    -webkit-user-select: none;
}

details {
    background-color: #10100888;
    padding: 0.4rem;
}

code {
    color: #599594;
}
